@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #000000;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/unknownvps.appspot.com/o/unknownvps-bg.jpg?alt=media&token=4b26c9c6-e830-4cbb-a9fd-951e78aad2e4");
  background-repeat:no-repeat;
  background-size:cover;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  } 
}
